
Biometrics Skills - Amine Nait-Ali/skill1_Face_Recognition_for_Verification/model_resnet/resnet.keras
Biometrics Skills - Amine Nait-Ali/skill1_Face_Recognition_for_Verification/model_xception/xception.keras
Biometrics Skills - Amine Nait-Ali/skill1_Face_Recognition_for_Verification/model_xception/custom-Xception.weights.h5
Biometrics Skills - Amine Nait-Ali/skill1_Face_Recognition_for_Verification/model_vgg19/vgg19.keras
Biometrics Skills - Amine Nait-Ali/skill1_Face_Recognition_for_Verification/model_vgg19/custom-vgg19.weights.h5
Biometrics Skills - Amine Nait-Ali/skill1_Face_Recognition_for_Verification/model_resnet_tl/resnet-tl.keras
Biometrics Skills - Amine Nait-Ali/skill1_Face_Recognition_for_Verification/__pycache__/functions.cpython-310.pyc
