
Biometrics Skills - Amine Nait-Ali/skill1_Face_Recognition_for_Verification/model_resnet/resnet.keras
Biometrics Skills - Amine Nait-Ali/skill1_Face_Recognition_for_Verification/model_xception/xception.keras
Biometrics Skills - Amine Nait-Ali/skill1_Face_Recognition_for_Verification/model_xception/custom-Xception.weights.h5
Biometrics Skills - Amine Nait-Ali/skill1_Face_Recognition_for_Verification/model_vgg19/vgg19.keras
Biometrics Skills - Amine Nait-Ali/skill1_Face_Recognition_for_Verification/model_vgg19/custom-vgg19.weights.h5
Biometrics Skills - Amine Nait-Ali/skill1_Face_Recognition_for_Verification/model_resnet_tl/resnet-tl.keras
Biometrics Skills - Amine Nait-Ali/skill1_Face_Recognition_for_Verification/__pycache__/functions.cpython-310.pyc
Biometrics Skills - Amine Nait-Ali/skill4_Face_Age_Estimation/models/age_gender_estimation/custom_CNN/custom_CNN.h5
Biometrics Skills - Amine Nait-Ali/skill4_Face_Age_Estimation/models/age_gender_estimation/custom_CNN/custom_CNN.keras
Biometrics Skills - Amine Nait-Ali/skill4_Face_Age_Estimation/models/age_gender_estimation/custom_ResNet50/custom_ResNet50.h5
Biometrics Skills - Amine Nait-Ali/skill4_Face_Age_Estimation/models/age_gender_estimation/custom_ResNet50/custom_ResNet50.keras
Biometrics Skills - Amine Nait-Ali/skill4_Face_Age_Estimation/assets/dataset/data.npz
